[submodule "vendor/zsh/oh-my-zsh"]
    path = vendor/zsh/oh-my-zsh
    url = https://github.com/robbyrussell/oh-my-zsh
[submodule "vendor/zsh/pure"]
    path = vendor/zsh/pure
    url = https://github.com/sindresorhus/pure
    branch = main
[submodule "vendor/zsh/zsh-syntax-highlighting"]
    path = vendor/zsh/zsh-syntax-highlighting
    url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "vendor/zsh/zsh-completions"]
    path = vendor/zsh/zsh-completions
    url = https://github.com/zsh-users/zsh-completions
[submodule "vendor/chrome/bypass-paywalls"]
    path = vendor/chrome/bypass-paywalls
    url = https://github.com/iamadamdev/bypass-paywalls-chrome
[submodule "vendor/chrome/bypass-paywalls-chrome-clean"]
    path = vendor/chrome/bypass-paywalls-chrome-clean
    url = https://gitlab.com/magnolia1234/bypass-paywalls-chrome-clean.git/
