"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
  "atom-beautify":
    general:
      _analyticsUserId: "8b2c0325-f9e2-4d0c-adc3-6622ebe9bf93"
    php: {}
  build:
    beepWhenDone: true
    panelVisibility: "Keep Visible"
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "atomic-chrome"
      "change-case"
      "expose"
      "autocomplete-php"
      "php-composer-completion"
      "atom-autocomplete-php"
    ]
    excludeVcsIgnoredPaths: false
    packagesWithKeymapsDisabled: []
    themes: [
      "one-dark-ui"
      "cobalt2-syntax"
    ]
  editor:
    fontSize: 17
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "8adfcc57-bd96-b2ab-bba2-1cc3e1699907"
  "file-icons": {}
  jumpy:
    fontSize: 1
    highContrast: true
  linter:
    lintOnFlyInterval: 2000
    showErrorInline: false
  "linter-eslint":
    lintHtmlFiles: true
  minimap:
    absoluteMode: true
    adjustAbsoluteModeHeight: true
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
    scrollAnimation: true
  "project-manager":
    closeCurrent: true
    environmentSpecificProjects: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "tool-bar": {}
  "tool-bar-almighty": {}
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
