"*":
  "exception-reporting":
    userId: "8adfcc57-bd96-b2ab-bba2-1cc3e1699907"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  welcome:
    showOnStartup: false
