packages: [
  "atom-alignment"
  "atom-autocomplete-php"
  "atom-beautify"
  "autoclose-html"
  "autocomplete-php"
  "color-picker"
  "cssnano"
  "emmet"
  "git-plus"
  "grunt-runner"
  "language-blade"
  "linter"
  "linter-php"
  "linter-phpcs"
  "linter-phpmd"
  "merge-conflicts"
  "minimap"
  "package-sync"
  "php-composer-completion"
  "php-cs-fixer"
  "phpunit"
  "term2"
  "vim-mode"
]
